/* -----------------------------------------------------
FORMATAÇÃO GERAL
------------------------------------------------------ */

/*
.menu-secundario-mobile{
    display: none;
} */


/* Formatação do menu mobile */
.menu-secundario-mobile{
    display: flex;
    place-content: center;
}
@media screen and (min-width:602px){
    .menu-secundario-mobile{
        display: none;
    }
}
.menu-secundario-mobile .item{
    margin: 5px 0px;
    padding: 0px 10px;
    text-align: center;
}
.flexDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px;
}
.selectWrapper {
    max-width: 600px;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms linear 0s;

    z-index: 1;
}
.multiSelect {
    box-sizing: border-box;
    position: absolute;
    max-width: 600px;
    left: 0px;
    right: 0;
    background: #ff0000;
    color: #000000;
    transition: transform 300ms ease-in-out 0s, clip-path 300ms ease-in-out 0s;
    border-bottom: solid 1px transparent;
    color: #000000;
}

button {
    width: 100%;
    border: none;
    outline: none;
    padding: 0px 0px;
    cursor: pointer;
    color: black;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-secundario-mobile button span{
    font-size: 2.2rem;
}
button img{
    width: 15%;
}
.menu-secundario-mobile a{
    text-decoration: none;
    color: black;
}






/* -----------------------------------------------------
FORMATAÇÃO PARA DISPOSITIVOS ATÉ 360px
------------------------------------------------------ */
@media screen and (max-width: 360px){
    header .menu-principal{
        padding: 10px 0px;
        height: 50px;
    }
    header .menu-principal .container-menu{
        display: none;
    }


    /* Formatação do banner */
    header .banner{
        height: 114px;
    }


    /* Formatação dos artigos */
    .container-artigos .artigos{
        max-width: 360px;
        padding: 0px 10px;
    }

    .container-artigos .artigos article .imagem-artigo-1{
        width: 340px;
        height: 240px;
    }


    /* Formatação da lateral */
    .lateral-efeito{
        max-width: 360px;
    }
    #lateral-direito{
        padding: 0px 10px 0px 10px;
        width: 360px;
    }
}









/* -----------------------------------------------------
FORMATAÇÃO PARA DISPOSITIVOS ATÉ 414px
------------------------------------------------------ */

.menu-secundario-mobile{
    display: none;
}

@media screen and (max-width: 414px){
    header .menu-principal{
        padding: 10px 0px;
        height: 50px;
    }
    header .menu-principal .container-menu{
        display: none;
    }


    /* Formatação do banner */
    header .banner{
        height: 114px;
    }


    /* Formatação dos artigos */
    .container-artigos .artigos{
        max-width: 414px;
        padding: 0px 10px;
    }

    .container-artigos .artigos article .imagem-artigo-1{
        width: 390px;
        height: 240px;
    }


    /* Formatação da lateral */
    .lateral-efeito{
        max-width: 414px;
    }
    #lateral-direito{
        padding: 0px 10px 0px 10px;
        width: 414px;
    }
}







/* -----------------------------------------------------
FORMATAÇÃO PARA DISPOSITIVOS ATÉ 601px
------------------------------------------------------ */

@media screen and (max-width: 601px){
    header .menu-principal{
        padding: 10px 0px;
        height: 70px;
    }
    header .menu-principal .container-menu{
        display: none;
    }


    /* Formatação do banner */
    header .banner{
        height: 190px;
    }


    /* Formatação dos artigos */
    .container-artigos .artigos{
        max-width: 601px;
        padding: 0px 10px;
    }

    .container-artigos .artigos article .imagem-artigo-1{
        width: 580px;
        height: 240px;
    }


    /* Formatação da lateral */
    .lateral-efeito{
        max-width: 601px;
    }
    #lateral-direito{
        padding: 0px 10px 0px 10px;
        width: 601px;
    }
}